      <div class="event">
        <div class="conent">
          <div class="summary">
            <em><%= message.user.username %></em>: <%= message.body %>
          </div>
        </div>
      </div>